<div class="my-rentals" [ngClass]="rentals.length==0 ? 'yet-to-upload' : ''">
  <div *ngIf="rentals?.length==0" class="no-rentals">
    <p> You have no rentals in your name. </p>
  </div>
  <div class="upload-rentals">
    <button
          class="mdc-fab mdc-fab--extended"
          (click)="uploadRental()"
        >
          <div class="mdc-fab__ripple"></div>
          <mat-icon aria-hidden="false" aria-label="Example upload icon" fontIcon="upload"></mat-icon>
          <span class="mdc-fab__label">Upload a new rental</span>
        </button>
  </div>
  <div *ngIf="rentals.length>0" class="rental-list">
    <div class="rentals-count">
      Rentals: {{ rentals.length }}
    </div>
    <a 
      (click)="showRentalInDetail(rental)" 
      *ngFor="let rental of rentals; let i = index" 
      class="rental-item"
    >
      <div class="image-container">
        <img 
          [src]="rental?.photographs?.[0] ? 'http://localhost:8080/' + rental.photographs[0].split('\\').pop() : 'https://i.roamcdn.net/prop/brk/listing-thumb-400w/8d4c32836a1867d06c017d610439623c/-/prod-property-core-backend-media-brk/7237636/02f1752a-35ea-4eab-8e79-bc8c0b4a2d85.jpg'" 
          alt="Rental Image" 
        />

      </div>
      <div class="rental-details">
        <p class="plotSummaryDescription">{{rental.plotSummaryDescription}}</p>
        <p class="plotDetailedDescription">{{rental.plotDetailedDescription}}</p>
        <p class="location"><span class="location-label">Location:</span> {{ rental.location }}</p>
        <p class="amount"><span class="currency-label">Ksh</span> {{ rental.amount}} / {{ rental.term }}</p>
        <button
          class="mdc-fab mdc-fab--extended"
          (click)="viewDetails(rental); $event.stopPropagation()"
        >
          <div class="mdc-fab__ripple"></div>
          <mat-icon aria-hidden="false" aria-label="Example edit icon" fontIcon="edit"></mat-icon>

        </button>
        <button
          class="mdc-fab mdc-fab--extended"
          (click)="deleteRental(rental.rentalId); $event.stopPropagation()"
        >
          <div class="mdc-fab__ripple"></div>
          <mat-icon aria-hidden="false" aria-label="Example delete icon" fontIcon="delete"></mat-icon>

        </button>
      </div>
    </a>  
  </div>
</div>