<form [formGroup]="searchForm" (ngSubmit)="searchRentals()">
  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>Specify the Location of the rentals you want to search</mat-label>
    <input matInput placeholder="Ex. Nairobi" type="text" formControlName="criteria" required>
  </mat-form-field>
  <button
    class="mdc-fab mdc-fab--extended"
    [disabled]="searchForm.invalid"
  >
    <div class="mdc-fab__ripple"></div>
    <span class="material-icons">search</span>
    <span class="mdc-fab__label">Search</span>
  </button>
</form>
