/* You can add global styles to this file, and also import other style files */
@use "@material/fab";

@include fab.core-styles;

html, body { 
  height: 100%; 
  margin: 0;
  padding: 0;
}

body { 
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mdc-fab {
    transition: background-color 0.3s, opacity 0.3s;
  
    &.disabled {
      background-color: grey;
      opacity: 0.5;
      cursor: not-allowed;
    }
  
    &.enabled {
      background-color: var(--mdc-theme-secondary, #018786);
      cursor: pointer;
    }
  }