<div class="container">
    <h1>404</h1>
    <p>Oops! The page you're looking for doesn't exist.</p>
    
    <!-- Helpful Navigation -->
    <a [routerLink]="''" class="mdc-fab mdc-fab--extended" (click)="initialiseHomePage()">Go Back to Home</a>
    
    <div class="search-box">
        <p>Or try searching for some rentals
            :</p>
        <app-search-bar></app-search-bar>
    </div>

    <!-- Visual representation (image or icon) -->
    <!-- <div class="image-container">
        <img src="https://via.placeholder.com/300" alt="Page Not Found">
    </div> -->
</div>


