.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center; /* This centers children horizontally */
    padding: 0;
    margin: 0;
}

app-navigation-bar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    flex-basis: 10%;
}

app-search-bar {
    flex-basis: 90%;
    flex-grow: 1;
    width: 100%;           /* Ensure it takes the full width */
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

router-outlet {
    flex-basis: 0%;
    flex-grow: 0;
}